<!DOCTYPE html>
<html>
    <head>
        <title>Cavalier Lacrosse</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/design/navbar.js"></script>
        <script src="/design/index.js"></script>
        <link href="/design/style.css" rel="stylesheet"/>
    </head>

    <body onload="updateCarousel('{{id}}')" class="teams">
        <!-- Navbar -->
        <div id="navbar"></div>
        <!-- end of navbar -->


<div id="home-content">


    <!-- photo slideshow -->
    <div class="container-fluid photogallery carousel_size" >
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
            <div id="carousel-images" class="carousel-inner carousel_size"></div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>

    <!-- team name header -->
    <div class="teams_header_div">
    <div class="teams_header"><h1 class=""> {{gender}}<img height="100px" src="/design/resources/pictures/cavs_logo_white.png"/>{{year}} </h1></div></div>
    <br>
    

    <div class="teams_body">

        <!-- about -->
        <div class="teams_section">
            <h3> About </h3>
            {{#unless about }}
                <p> No about information has been posted yet. </p>
            {{/unless}}
            <p> {{about}} </p>
        </div>

        <!-- coaches -->
        <div class="teams_section">
            <h3> Coaches </h3>
            {{#unless coaches }}
                <p> No coaches information has been posted yet. </p>
            {{/unless}}
            <ul>
                {{#each coaches}}
                    <li> {{this}} </li>
                {{/each}}
            </ul>
        </div>

        <!-- tournaments -->
        <div class="teams_section">
            <h3> Tournaments </h3>
            {{#unless tournaments }}
                <p> No tournaments information has been posted yet. </p>
            {{/unless}}
            <ul>
                {{#each tournaments}}
                    <li> {{this}} </li>
                {{/each}}
            </ul>
        </div>

        <!-- tryouts -->
        <div class="teams_section">
            <h3> Tryouts </h3>
            {{#unless tryouts }}
                <p> No tryout information has been posted yet. </p>
            {{/unless}}
            <ul>
                {{#each tryouts}}
                    <li> {{this}} </li>
                {{/each}}
            </ul>
        </div>

        <!-- location -->
        <div class="teams_section">
            <h3> Location </h3>
            {{#unless location }}
                <p> No location information has been posted yet. </p>
            {{/unless}}
            <p> {{location}} </p>
        </div>

        <!-- fees -->
        <div class="teams_section">
            <h3> Fees </h3>
            {{#unless fees }}
                <p> No fee information has been posted yet. </p>
            {{/unless}}
            <p> {{fees}} </p>
        </div>

        <!-- other -->
        <div class="teams_section">
            <h3> Other Information</h3>
            <p> {{other}} </p>
        </div>

        <!-- roster -->
        <div class="teams_section">
            <h3> Roster: </h3>
            <table border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Postion</th>
                    </tr>
                </thead>
                
                <tbody>
                {{#each roster}}
                   <tr>
                        <td class="num_td"> {{this.Number}} </td>
                        <td class="name_td"> {{this.firstName}} </td>
                        <td class="name_td"> {{this.lastName}} </td>
                        <td class="num_td"> {{this.position}} </td>
                   </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>